<div class="signup">
<img src="https://cdn.pixabay.com/photo/2018/03/14/23/00/barcelona-3226639_1280.jpg" alt="">

<form action="/auth/signup" method="POST">

    <label for="">Name</label>
    <input type="text" name="name">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <label for="">Repeat Password</label>
    <input type="password" name="repeatpassword">
    <label for="">Direction</label>
    <input type="text" name="direction">

    
    <button type="submit" value="Submit">Submit !</button>
    <div class="error">
        <p>{{errormessage}}</p>
    </div>
</form>
</div>