
<div class="indexImg">
    <a href=""><h3>Become A Member</h3><a>
    <img src="https://blogapi.uber.com/wp-content/uploads/2019/01/6-barrios-de-Guayaquil-que-te-deslumbrar%C3%A1n-por-sus-edificaciones.png" alt="">
</div>