<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="navTrans">
    <div class="logo">
      <a href="/profile">
        <img
          src="https://banner2.cleanpng.com/20180401/dbq/kisspng-user-profile-computer-icons-profile-5ac09245049c32.0935523415225697970189.jpg"
          alt="logo">
      </a>
    </div>
    <div class="navBar">
      <a href="/">Home</a>
      <a href="/auth/signup">SingUp</a>
      <a href="/auth/login">LogIn</a>
      <a href="/auth/logout">LogOut</a>
      <a href="/create-task">Create Task</a>
    </div>
  </div>
  {{{body}}}
</body>

</html>