<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
  <div class="navTrans">
    <div class="logo">
      <a href="/profile">
        <img
          src="https://www.xyzapk.com/wp-content/uploads/2017/11/com.instaeditor.profileavatar.jpg.png"
          alt="logo">
      </a>
    </div>
    <div class="navBar">
      {{#if currentUser}}
      <h1>Hello {{currentUser.name}}</h1>
      {{/if}}
      <a href="/">Home</a>
      <a href="/auth/signup">SingUp</a>
      <a href="/auth/login">LogIn</a>
      <a href="/auth/logout">LogOut</a>
      <a href="/users">Help Someone</a>
    </div>
  </div>
  <div class="gradiant">
  {{{body}}}
  </div>
</body>

</html>