<div class="profile-card">

<div class="tasks">
<h1>Create a new To-do:</h1>

<form action="/create-task" method="post">
    <label>Task name:</label><br>
    <input type="text" name="name" placeholder="Title"><br>
    <label for="">Task desription:</label><br>
    <textarea name="description" placeholder="Task"></textarea><br>
    <button type="submit"> Create! </button>
</form>

{{#if message}}
    <p>{{message}}</p>
    <a href="/profile">go back</a>
{{/if}}

</div>

</div>