<div class="profile-card">


<div class="tasks">
<h1>Edit Taks</h1>
<form action="/{{_id}}/edit" method="post"><br>
    <input type="text" name="name" placeholder="Name" value="{{name}}"><br><br>
    <textarea name="description" placeholder="Task">{{description}}</textarea><br>
    <button type="submit"> Edit! </button><br>
</form>

{{#if message}}
    <p>{{message}}</p>
    <a href="/profile">go back</a>
{{/if}}
</div>
</div>