<div class="profile-card">
   <div class="tasks">
      <h1>{{name}}</h1>
      <h3>{{description}}</h3>
      <form action="/{{id}}/users" method="POST">
         <button type="submit">Accept</button>
      </form>
   </div>
</div>