* {
  margin: 0;
  padding: 0;
}
button{
  font-family: 'Righteous', cursive;
  font-size: 14px;
}
iframe {
  height: 200px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  font-family: 'Righteous', cursive;
  background-color:#50607D;
}

.logo img {
  height: 50px;
  position: absolute;
  background-color: #39485F;
  padding: 5px;
  padding-left: 15px;
}
.profilePic img{
  background-color: #C7C7C7;
  position: relative;
  display: inline;
  border-radius: 15px;
  width: 70px;
}
.profilePic img:hover{
  width: 300px;
  position: absolute;
  transition: 1s;
  border: 2px solid black;
  -webkit-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
-moz-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
}

.navBar {
  background-color: #39485F;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navBar a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-size: 20px;
}
.navBar h1 {
  font-size: 17px;
  color: burlywood;
  padding-right: 100px;
}

.indexImg {
  position: relative;

}

.indexImg h3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.indexImg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 2.9rem;
}

.indexImg img {
  width: 100%;
}
.indexImg h1:hover{
  font-size: 4rem;
}

.landingCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card iframe {
  border-radius: 25px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-wrap button{
  background-color: #16D4A5;
}

.tasks {
  border: 2px solid;
  margin: 40px 20px;
  width: 300px;
  height: 500px;
  padding: 13px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #C7C7C7;
  background: #C7C7C7;
  -webkit-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
-moz-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
}
.tasks span{
  width: 30px;
  border: 1px solid #16D4A5;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #16D4A5;
  font-size: 10px;
  display: block;
  padding: 5px 0;
  margin: 5px 0;
}
.tasks textarea{
  height: 180px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
}
.tasks input{
  border-radius: 20px;
  text-align: center;
  height: 25px;
  width: 80%;
}
.tasks button {
  height: 30px;
  width: 100%;
  border-radius: 25px;
  border: none;
  margin-top: 30px;
  background-color: #16D4A5;
}
.tasks a{
 border: 1px solid #16D4A5;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #16D4A5;
  display: block;
  padding: 5px 0;
  margin: 5px 0;
}

.tasks ul {
  list-style-type: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.tasks li{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.tasks img{
  width: 100px;
  border-radius: 20px;
}

.card {
  border: 5px solid #263139;
  width: 300px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 25px;
  background: #C7C7C7;
  -webkit-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
-moz-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
}
.landingCard .card:hover{
  transform: scale(1.1);
}

.tasks iframe {
  border-radius: 25px;
}

.signup img {
  position: relative;
  width: 100%;
}

.signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.signup label {
  font-size: 25px;
  margin: 5px 0;
  color: white;
}

.signup input {
  font-size: 25px;
  margin: 5px 0;
}

.signup button {
  height: 30px;
  width: 200px;
  color: white;
  background-color: #16D4A5;
  margin: 20px 0 0 0;
  border: none;
  border-radius: 45px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.error {
  color: white;
  font-size: 1rem;
}

.usersCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100;
  background-size: contain;
 }


.todo-card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 650px;
  height: 600px;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  justify-content: space-evenly;
  background: #C7C7C7;
  -webkit-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
-moz-box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
box-shadow: 22px 13px 24px -1px rgba(0,0,0,0.47);
}
.todo-card a{
  border: 1px solid #16D4A5;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #16D4A5;
  display: block;
  padding: 5px 0;
}

.todo-card iframe {
  border-radius: 25px;
  width: 78%;
}
.create-task{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.profile-card{
  display: flex;
  justify-content: center;
  text-align: center;
}
.profile-card input, textarea{
  margin: 10px 0;
}
.todo-card img{

  margin-left: 248px;
}
.notifications button{
  border-radius: 50%;
  background-color: red;
  border: none;
  padding: 5px;
  margin-right: 10px;
  width: 25px;
  color: white;
}
.explain{
  color: white; 
  text-align:center;
  margin-top: 20px;
}
.explaina{
  text-decoration:none;
}
.todo-card img{
  border-radius: 20px;
}