* {
  margin: 0;
  padding: 0;
}

iframe {
  height: 200px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  font-family: 'Righteous', cursive;
  background-color: #98beba;
}

.logo img {
  height: 50px;
  position: absolute;
  background-color: #263139;
  padding: 5px;
  padding-left: 15px;
}

.navBar {
  background-color: #263139;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navBar a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-size: 20px;
}
.navBar h1 {
  font-size: 17px;
  color: burlywood;
  padding-right: 100px;
}

.indexImg {
  position: relative;

}

.indexImg h3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.indexImg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 2.9rem;
}

.indexImg img {
  width: 100%;
}

.landingCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card iframe {
  border-radius: 25px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-wrap button{
  background-color: #6c8784;
}

.tasks {
  border: 2px solid;
  margin: 40px 20px;
  width: 300px;
  height: 400px;
  padding: 13px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(232,236,175);
background: linear-gradient(180deg, rgba(232,236,175,1) 0%, rgba(244,193,109,1) 47%, rgba(215,183,88,1) 100%);
}
.tasks button {
  height: 30px;
  width: 80px;
  border-radius: 25px;
  border: none;
}
.tasks a{
  width: 30px;
  border: 1px solid #6c8784;
  border-radius: 25px;
  height: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #6c8784;
}

.tasks ul {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tasks li{
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 5px solid #263139;
  width: 300px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 25px;
  background: rgb(232,236,175);
background: linear-gradient(180deg, rgba(232,236,175,1) 0%, rgba(244,193,109,1) 47%, rgba(215,183,88,1) 100%);
}

.tasks iframe {
  border-radius: 25px;
}

.signup img {
  position: relative;
  width: 100%;
}

.signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.signup label {
  font-size: 25px;
  margin: 5px 0;
  color: white;
}

.signup input {
  font-size: 25px;
  margin: 5px 0;
}

.signup button {
  height: 30px;
  width: 200px;
  color: white;
  background-color: aqua;
  margin: 20px 0 0 0;
  border: none;
  border-radius: 45px;
  background-color: #6c8784;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.error {
  color: white;
  font-size: 1rem;
}

.usersCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100;
  background-size: contain;
 }

.todo-card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  justify-content: space-evenly;
  background: rgb(232,236,175);
background: linear-gradient(180deg, rgba(232,236,175,1) 0%, rgba(244,193,109,1) 47%, rgba(215,183,88,1) 100%);
}

.todo-card iframe {
  border-radius: 25px;
}